alabaster==0.7.10
algopy==0.5.3
appdirs==1.4.2
appnope==0.1.0
asn1crypto==0.22.0
astropy==1.3.2
autograd==1.1.13
Babel==2.3.4
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0rc1
bayesian-optimization==0.4.0
beautifulsoup4==4.5.3
bigml==4.10.2
bleach==1.5.0
bokeh==0.11.1
carl==0.2
certifi==2017.1.23
cffi==1.10.0
click==6.7
climate==0.4.6
clingkernel==0.0.2
CommonMark==0.5.4
configparser==3.5.0
coverage==4.4.1
coveralls==1.2.0
cryptography==2.0.3
cycler==0.10.0
Cython==0.25.2
deap==1.0.2
decorator==4.0.11
docopt==0.6.2
docutils==0.13.1
downhill==0.4.0
dskit==0.1
edward==1.3.3
entrypoints==0.2.2
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
google-api-python-client==1.6.4
h5py==2.7.0
hep-ml==0.4.0
-e git+https://gitlab.com/Contreras/hepML@e3294f9a7ca0b7a01feb2fe90cfc47fab1d38cbb#egg=hepML
hpsklearn==0.0.1
html5lib==0.9999999
httplib2==0.10.3
hyperas==0.3
hyperopt==0.1
idna==2.6
imagesize==0.7.1
imbalanced-learn==0.2.1
ipaddress==1.0.18
ipykernel==4.5.2
ipyparallel==6.0.2
ipython==5.3.0
ipython-genutils==0.1.0
ipywidgets==6.0.0
Jinja2==2.9.5
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.1.0
jupyter-core==4.3.0
jupyter-spark==0.3.0
kafka==1.3.2
Keras==2.0.6
Lasagne==0.2.dev1
llvmlite==0.0.0
lxml==3.7.3
Markdown==2.2.0
MarkupSafe==0.23
matplotlib==2.1.0
Mesa==0.8.0
minepy==1.2.1
mistune==0.7.3
mlpy==0.1.0
mlxtend==0.7.0
mock==2.0.0
mpld3==0.2
mpmath==0.19
nbconvert==5.1.1
nbformat==4.3.0
nbsphinx==0.2.13
nbstripout==0.3.0
networkx==1.11
neurolab==0.3.5
nose==1.3.7
nose-parameterized==0.5.0
notebook==4.2.1
numba==0.32.0.dev0+6.g0d73ad6
numdifftools==0.9.20
numpy==1.13.3
numpydoc==0.6.0
oauth2client==4.1.2
olefile==0.44
Optunity==1.1.1
packaging==16.8
pandas==0.20.1
pandocfilters==1.4.1
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
pathlib2==2.2.1
patsy==0.4.1
pbr==3.0.1
pexpect==4.2.1
pgmpy==0.1.2
pickleshare==0.7.4
PIL==1.1.6
Pillow==4.1.0
pkginfo==1.4.1
plac==0.9.6
poster==0.8.1
prompt-toolkit==1.0.13
protobuf==3.3.0
ptyprocess==0.5.1
py4j==0.10.4
pyasn1==0.3.7
pyasn1-modules==0.1.5
PyBrain==0.3
pycparser==2.18
pydot==1.2.3
Pygments==2.2.0
pymc==2.3.6
pymc3==3.1
pymongo==3.4.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
PyStemmer==1.3.0
pyswarm==0.6
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
recommonmark==0.4.0
rep==0.6.6
requests==2.13.0
requests-toolbelt==0.8.0
root-numpy==4.7.2
root-pandas==0.1.1
rsa==3.4.2
scandir==1.5
scikit-image==0.13.0
scikit-learn==0.19.1
scikit-neuralnetwork==0.7
scikit-optimize==0.3
scipy==0.19.1
seaborn==0.8.dev0
sigopt==2.8.0
sigopt-sklearn==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
skflow==0.1.0
sklearn==0.0
sklearn-compiledtrees==1.3
snowballstemmer==1.2.1
spark-sklearn==0.2.0
spearmint==0.1
Sphinx==1.5.3
statsmodels==0.8.0
stevedore==1.23.0
subprocess32==3.2.7
sympy==1.0
tensorflow==1.2.0
terminado==0.6
testpath==0.3
theanets==0.7.3
Theano==0.9.0
toree==0.2.0.dev1
tornado==4.4.2
tqdm==4.11.2
traitlets==4.3.2
twine==1.9.1
Unidecode==0.4.20
uritemplate==3.0.0
urllib3==1.22
utils==0.9.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==2.0.0
xgboost==0.4a30
uproot==2.8.2
